<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .InstanceName }}</title>
  <link rel="stylesheet" href="/style.css">
  <style>
    header {
      padding: 0;
    }
    header h2 {
      font-size: 30px;
      text-align: left;
      display: block;
      width: 100px;
    }
    nav {
      position: absolute;
      margin-bottom: 0;
      top: 21px;
      margin-left: 150px;
    }
    nav ul li {
      padding-left: 0;
      padding-right: 5px;
      margin-left: 0;
    }
    main {
      padding-top: 0;
    }
    main h1 {
      margin-top: 0;
    }

  </style>
</head>
<body>
  <header>
    <h2><a href="/">{{ .InstanceName }}</a></h2>
    <nav>
      <ul class="nav">
        <li><a href="/upload">upload</a></li>
        <li><a href="/viewfiles">view files</a></li>
        {{ if .AllowGenPage }}
          <li><a href="/generate">generate user hash</a></li>
        {{ end }}
      </ul>
    </nav>
  </header>
  <main>
    {{ if .Error }}
    <h2 style="color: #ff5555">{{ .Error }}</h2>
    {{ end }}
    {{ template "content" .}}
  </main>
</body>
</html>