{{ define "content" }}
  <h3>here's your hash:</h3>
  <p><b>{{ .Hash }}</b></p>
  <p>please keep this in a safe place! preferrably a password manager or a similarly secure storage so you can copy and paste it back when you're uploading something!</p>
{{ end }}