{{ define "content" }}
  <h1>welcome to wakeru!</h1>
  <p>wakeru is an anonymous file uploader for small scale files to share with friends and other trusted people.</p>
  <p>you don't need an email, username or password to use this service.</p>
  <p>instead you will get a generated string of random letters and numbers, a hash, that links to the files you have uploaded. to make sure you don't lose that string and still have access to the files you've uploaded, it's best to save the string in a file somewhere, or even better, a password manger or similarly secure storage!</p>
{{ end }}
