{{ define "content" }}
  <form enctype="multipart/form-data" action="upload" method="post">
    <div>
      <input type="text" name="userHash" placeholder="paste your user hash here">
    </div>
    <div>
      <input type="file" name="upFile">
    </div>
    <div>
      <input type="submit" value="upload">
    </div>
  </form>
{{ end }}
