<html>
  <head>
    <title>wakeru - view files</title>
  </head>
  <body>
    <form action="view_files"
          method="post">
      <div>
        <input type="text" name="userHash" placeholder="paste your user hash here">
      </div>
      <div>
        <input type="submit" value="View Files">
      </div>
    </form>
  </body>
</html>
