{{ define "content" }}
  <form method="post">
    <div>
      <input type="text" name="userHash" placeholder="paste your user hash here">
    </div>
    <div>
      <input type="submit" value="view files">
    </div>
  </form>
{{ end }}
